In [96]:
from IPython.display import HTML

In [97]:
df = pd.read_csv('movies_complete.csv', parse_dates = ['release_date'])
df_best = df[['poster_path','title','budget_musd','revenue_musd','vote_count','vote_average','popularity']].copy()

df_best

,poster_path,title,budget_musd,revenue_musd,vote_count,vote_average,popularity
0,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Toy Story,30.0,373.554033,5415.0,7.7,21.946943
1,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Jumanji,65.0,262.797249,2413.0,6.9,17.015539
2,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Grumpier Old Men,NaN,NaN,92.0,6.5,11.712900
3,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Waiting to Exhale,16.0,81.452156,34.0,6.1,3.859495
4,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Father of the Bride Part II,NaN,76.578911,173.0,5.7,8.387519
...,...,...,...,...,...,...,...
44686,<img src='http://image.tmdb.org/t/p/w185//pfC8...,Subdue,NaN,NaN,1.0,4.0,0.072051
44687,<img src='http://image.tmdb.org/t/p/w185//xZkm...,Century of Birthing,NaN,NaN,3.0,9.0,0.178241
44688,<img src='http://image.tmdb.org/t/p/w185//eGga...,Betrayal,NaN,NaN,6.0,3.8,0.903007
44689,<img src='http://image.tmdb.org/t/p/w185//aorB...,Satan Triumphant,NaN,NaN,0.0,NaN,0.003503
44690,<img src='http://image.tmdb.org/t/p/w185//oxFE...,Queerama,NaN,NaN,0.0,NaN,0.163015

In [98]:
#adding two additional features to give me 
df_best['profit_musd'] = df.revenue_musd.sub(df.budget_musd) #absolute profit = revenue minus the budget
df_best['return'] = df.revenue_musd.div(df.budget_musd) #ROI = revenue divided by budget

In [99]:
df_best

,poster_path,title,budget_musd,revenue_musd,vote_count,vote_average,popularity,profit_musd,return
0,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Toy Story,30.0,373.554033,5415.0,7.7,21.946943,343.554033,12.451801
1,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Jumanji,65.0,262.797249,2413.0,6.9,17.015539,197.797249,4.043035
2,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Grumpier Old Men,NaN,NaN,92.0,6.5,11.712900,NaN,NaN
3,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Waiting to Exhale,16.0,81.452156,34.0,6.1,3.859495,65.452156,5.090760
4,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Father of the Bride Part II,NaN,76.578911,173.0,5.7,8.387519,NaN,NaN
...,...,...,...,...,...,...,...,...,...
44686,<img src='http://image.tmdb.org/t/p/w185//pfC8...,Subdue,NaN,NaN,1.0,4.0,0.072051,NaN,NaN
44687,<img src='http://image.tmdb.org/t/p/w185//xZkm...,Century of Birthing,NaN,NaN,3.0,9.0,0.178241,NaN,NaN
44688,<img src='http://image.tmdb.org/t/p/w185//eGga...,Betrayal,NaN,NaN,6.0,3.8,0.903007,NaN,NaN
44689,<img src='http://image.tmdb.org/t/p/w185//aorB...,Satan Triumphant,NaN,NaN,0.0,NaN,0.003503,NaN,NaN
44690,<img src='http://image.tmdb.org/t/p/w185//oxFE...,Queerama,NaN,NaN,0.0,NaN,0.163015,NaN,NaN

In [100]:
df_best.columns = ['','Title','Budget','Revenue','Votes','Average Rating','Popularity','Profit','ROI']

In [101]:
df_best.set_index('Title',inplace = True)

In [102]:
df_best

,,Budget,Revenue,Votes,Average Rating,Popularity,Profit,ROI
Title,,,,,,,,
Toy Story,<img src='http://image.tmdb.org/t/p/w185//uXDf...,30.0,373.554033,5415.0,7.7,21.946943,343.554033,12.451801
Jumanji,<img src='http://image.tmdb.org/t/p/w185//vgpX...,65.0,262.797249,2413.0,6.9,17.015539,197.797249,4.043035
Grumpier Old Men,<img src='http://image.tmdb.org/t/p/w185//1FSX...,NaN,NaN,92.0,6.5,11.712900,NaN,NaN
Waiting to Exhale,<img src='http://image.tmdb.org/t/p/w185//4wjG...,16.0,81.452156,34.0,6.1,3.859495,65.452156,5.090760
Father of the Bride Part II,<img src='http://image.tmdb.org/t/p/w185//lf9R...,NaN,76.578911,173.0,5.7,8.387519,NaN,NaN
...,...,...,...,...,...,...,...,...
Subdue,<img src='http://image.tmdb.org/t/p/w185//pfC8...,NaN,NaN,1.0,4.0,0.072051,NaN,NaN
Century of Birthing,<img src='http://image.tmdb.org/t/p/w185//xZkm...,NaN,NaN,3.0,9.0,0.178241,NaN,NaN
Betrayal,<img src='http://image.tmdb.org/t/p/w185//eGga...,NaN,NaN,6.0,3.8,0.903007,NaN,NaN
Satan Triumphant,<img src='http://image.tmdb.org/t/p/w185//aorB...,NaN,NaN,0.0,NaN,0.003503,NaN,NaN
Queerama,<img src='http://image.tmdb.org/t/p/w185//oxFE...,NaN,NaN,0.0,NaN,0.163015,NaN,NaN

In [103]:
df_best.iloc[0,0]

"<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>"

In [104]:
subset = df_best.iloc[:5,:2]
subset

,,Budget
Title,,
Toy Story,<img src='http://image.tmdb.org/t/p/w185//uXDf...,30.0
Jumanji,<img src='http://image.tmdb.org/t/p/w185//vgpX...,65.0
Grumpier Old Men,<img src='http://image.tmdb.org/t/p/w185//1FSX...,NaN
Waiting to Exhale,<img src='http://image.tmdb.org/t/p/w185//4wjG...,16.0
Father of the Bride Part II,<img src='http://image.tmdb.org/t/p/w185//lf9R...,NaN

In [105]:
HTML(subset.to_html(escape=False))

In [106]:
df_best.sort_values(by= 'Average Rating', ascending = False)

,,Budget,Revenue,Votes,Average Rating,Popularity,Profit,ROI
Title,,,,,,,,
Portrait of a Young Man in Three Movements,NaN,NaN,NaN,1.0,10.0,0.036471,NaN,NaN
Brave Revolutionary,<img src='http://image.tmdb.org/t/p/w185//zAb2...,NaN,NaN,1.0,10.0,0.318826,NaN,NaN
Other Voices Other Rooms,<img src='http://image.tmdb.org/t/p/w185//4ifP...,NaN,NaN,1.0,10.0,0.036680,NaN,NaN
The Lion of Thebes,<img src='http://image.tmdb.org/t/p/w185//tdOc...,NaN,NaN,1.0,10.0,1.783625,NaN,NaN
Katt Williams: Priceless: Afterlife,<img src='http://image.tmdb.org/t/p/w185//wKrH...,NaN,NaN,2.0,10.0,0.476007,NaN,NaN
...,...,...,...,...,...,...,...,...
Altar of Fire,<img src='http://image.tmdb.org/t/p/w185//iJ78...,NaN,NaN,0.0,NaN,0.000000,NaN,NaN
The Wonders of Aladdin,<img src='http://image.tmdb.org/t/p/w185//AvfX...,NaN,NaN,0.0,NaN,0.093498,NaN,NaN
Deep Hearts,<img src='http://image.tmdb.org/t/p/w185//8jI4...,NaN,NaN,0.0,NaN,0.011025,NaN,NaN
Satan Triumphant,<img src='http://image.tmdb.org/t/p/w185//aorB...,NaN,NaN,0.0,NaN,0.003503,NaN,NaN
Queerama,<img src='http://image.tmdb.org/t/p/w185//oxFE...,NaN,NaN,0.0,NaN,0.163015,NaN,NaN

In [107]:
df_best.sort_values(by='ROI', ascending = False)

,,Budget,Revenue,Votes,Average Rating,Popularity,Profit,ROI
Title,,,,,,,,
Less Than Zero,<img src='http://image.tmdb.org/t/p/w185//1GY0...,0.000001,12.396383,77.0,6.1,4.028679,12.396382,1.239638e+07
Modern Times,<img src='http://image.tmdb.org/t/p/w185//7uoi...,0.000001,8.500000,881.0,8.1,8.159556,8.499999,8.500000e+06
Welcome to Dongmakgol,<img src='http://image.tmdb.org/t/p/w185//5iGV...,0.000008,33.579813,49.0,7.7,4.222195,33.579805,4.197477e+06
Aquí Entre Nos,<img src='http://image.tmdb.org/t/p/w185//oflx...,0.000001,2.755584,3.0,6.0,0.230075,2.755583,2.755584e+06
"The Karate Kid, Part II",<img src='http://image.tmdb.org/t/p/w185//mSne...,0.000113,115.103979,457.0,5.9,9.231318,115.103866,1.018619e+06
...,...,...,...,...,...,...,...,...
Subdue,<img src='http://image.tmdb.org/t/p/w185//pfC8...,NaN,NaN,1.0,4.0,0.072051,NaN,NaN
Century of Birthing,<img src='http://image.tmdb.org/t/p/w185//xZkm...,NaN,NaN,3.0,9.0,0.178241,NaN,NaN
Betrayal,<img src='http://image.tmdb.org/t/p/w185//eGga...,NaN,NaN,6.0,3.8,0.903007,NaN,NaN
Satan Triumphant,<img src='http://image.tmdb.org/t/p/w185//aorB...,NaN,NaN,0.0,NaN,0.003503,NaN,NaN
Queerama,<img src='http://image.tmdb.org/t/p/w185//oxFE...,NaN,NaN,0.0,NaN,0.163015,NaN,NaN

In [108]:
df_best.loc[df_best.Budget >= 5].sort_values(by = 'ROI', ascending = False)

,,Budget,Revenue,Votes,Average Rating,Popularity,Profit,ROI
Title,,,,,,,,
E.T. the Extra-Terrestrial,<img src='http://image.tmdb.org/t/p/w185//cBfk...,10.500000,792.965326,3359.0,7.3,19.358546,782.465326,75.520507
My Big Fat Greek Wedding,<img src='http://image.tmdb.org/t/p/w185//3TB2...,5.000000,368.744044,686.0,6.2,6.719949,363.744044,73.748809
Star Wars,<img src='http://image.tmdb.org/t/p/w185//6FfC...,11.000000,775.398007,6778.0,8.1,42.149697,764.398007,70.490728
Jaws,<img src='http://image.tmdb.org/t/p/w185//s2xc...,7.000000,470.654000,2628.0,7.5,19.726114,463.654000,67.236286
Crocodile Dundee,<img src='http://image.tmdb.org/t/p/w185//kiwO...,5.000000,328.203506,512.0,6.3,7.791212,323.203506,65.640701
...,...,...,...,...,...,...,...,...
The Blonde with Bare Breasts,<img src='http://image.tmdb.org/t/p/w185//zBjp...,7.500000,NaN,3.0,4.0,0.882188,NaN,NaN
Detroit,<img src='http://image.tmdb.org/t/p/w185//7APL...,34.000000,NaN,67.0,7.3,9.797505,NaN,NaN
"Good Guys Go to Heaven, Bad Guys Go to Pattaya",<img src='http://image.tmdb.org/t/p/w185//cfVB...,5.402000,NaN,153.0,5.3,5.613875,NaN,NaN
The Visitors: Bastille Day,<img src='http://image.tmdb.org/t/p/w185//kBlm...,25.868826,NaN,167.0,4.0,7.294920,NaN,NaN
House of the Long Shadows,<img src='http://image.tmdb.org/t/p/w185//21ZG...,7.500000,NaN,18.0,6.1,1.185515,NaN,NaN

In [109]:
df_best.Budget.fillna(0,inplace = True)
df_best.Votes.fillna(0,inplace = True)

In [110]:
df_best.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44691 entries, Toy Story to Queerama
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0                   44467 non-null  object
 1   Budget          44691 non-null  float64
 2   Revenue         7385 non-null   float64
 3   Votes           44691 non-null  float64
 4   Average Rating  42077 non-null  float64
 5   Popularity      44691 non-null  float64
 6   Profit          5371 non-null   float64
 7   ROI             5371 non-null   float64
dtypes: float64(7), object(1)
memory usage: 4.3+ MB

In [111]:
def best_worst(n,by,ascending = False, min_bud = 0, min_votes = 0):
    
    df2 = df_best.loc[(df_best.Budget >= min_bud) & (df_best.Votes >= min_votes), 
                      ['',by]].sort_values(by = by, ascending = ascending).head(n).copy()
    
    return HTML(df2.to_html(escape = False))

In [112]:
#movies with highest revenues
best_worst(n = 5, by = 'Revenue')

In [113]:
#movies with highest budget
best_worst(5,'Budget')

In [114]:
#movies with highest profit
best_worst(5,'Profit')

In [115]:
#movies with the worst profit
best_worst(5,'Profit', ascending = True)

In [116]:
#Top 5 movies with the highest return on investment
best_worst(5,'ROI', min_bud = 5)

In [117]:
#Top 5 movies with lowest ROI
best_worst(5,'ROI', ascending = True, min_bud = 20)

In [119]:
#Movies with highest amount of votes
best_worst(5,'Votes')

In [122]:
#highest rated movies
best_worst(5, 'Average Rating', min_votes = 50)

In [124]:
#Movies with the lowest ratings
best_worst(5, 'Average Rating', ascending = True, min_votes = 100)

In [125]:
#Lowest rated movies the biggest budgets
best_worst(5, 'Average Rating', ascending = True, min_votes = 100, min_bud = 50)

In [126]:
#Most popular movies
best_worst(5,'Popularity')