In [27]:
df = pd.read_csv('movies_complete.csv', parse_dates = ['release_date'])

In [28]:
#Find a film genre with your favorite actor

df.genres[:5]

0     Animation|Comedy|Family
1    Adventure|Fantasy|Family
2              Romance|Comedy
3        Comedy|Drama|Romance
4                      Comedy
Name: genres, dtype: object

In [29]:
mask_genres = df.genres.str.contains('Action') & df.genres.str.contains('Science Fiction')
mask_genres

0        False
1        False
2        False
3        False
4        False
         ...
44686    False
44687    False
44688    False
44689    False
44690    False
Name: genres, Length: 44691, dtype: bool

In [30]:
df.cast[:5]

0    Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...
1    Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...
2    Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...
3    Whitney Houston|Angela Bassett|Loretta Devine|...
4    Steve Martin|Diane Keaton|Martin Short|Kimberl...
Name: cast, dtype: object

In [31]:
mask_actor = df.cast.str.contains('Tom Cruise')
mask_actor

0        False
1        False
2        False
3        False
4        False
         ...
44686    False
44687    False
44688    False
44689    False
44690      NaN
Name: cast, Length: 44691, dtype: object

In [41]:
df.loc[mask_actor & mask_genres, ['title','vote_average']].sort_values(by = 'vote_average', 
                                                                       ascending = False)

                  title  vote_average
23212  Edge of Tomorrow           7.6
5267    Minority Report           7.1
20544          Oblivion           6.4

In [42]:
Cruise = df.loc[mask_actor & mask_genres, ['title','poster_path','vote_average']].sort_values(by = 'vote_average', 
                                                                                              ascending = False)

In [44]:
from IPython.display import HTML
HTML(Cruise.to_html(escape=False))